svg.logo {
  fill: #40bac8;
}

.brand, .logo {
  display: block;
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
  height: 600px;
}

.brand {
  margin-top: 52px;
  margin-left: 10px;
}

body {
  background-color: #022B42;
}